* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body,
html {
    background: pink;
}

section {
    text-align: center;
    img {
        margin-top: 50px;
    }
}